<div class="d-flex flex-column justify-content-around p-3 container-secondary rounded-3 rounded-start-0 mt-3" style="width: 280px; height: 584px;">
	<ul class="nav nav-pills flex-column align-items-center">
		<li class="nav-item">
			<h3><a href="{{ path('profil_index') }}" class="nav-link text-center {% if app.request.attributes.get('_route') == 'profil_index' %}menu-actif{% else %}link-body-emphasis{% endif %}">
				Mon compte
			</a></h3>
		</li>
		<li class="nav-item">
			<h3><a href="{{ path('profil_scores') }}" class="nav-link text-center {% if app.request.attributes.get('_route') == 'profil_scores' %}menu-actif{% else %}link-body-emphasis{% endif %}">
				Mes scores
			</a></h3>
		</li>
		<li class="nav-item">
			<h3><a href="{{ path('profil_themes') }}" class="nav-link text-center {% if app.request.attributes.get('_route') == 'profil_themes' or app.request.attributes.get('_route') ==  'profil_ajout_question' %}menu-actif{% else %}link-body-emphasis{% endif %}">
				Mes thèmes
			</a></h3>
		</li>
		<li class="nav-item">
			<h3><a href="{{ path('profil_remove') }}" class="nav-link text-center {% if app.request.attributes.get('_route') == 'profil_remove' %}menu-actif{% else %}link-body-emphasis{% endif %}">
				Supprimer<br>mon compte
			</a></h3>
		</li>
	</ul>
</div>
