{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
	<section class="container bg-primary p-2 rounded-3 w-50 mt-5">
		<div class="row">
			<div class="col text-center">
                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                <h1>Réinitialiser votre mot de passe</h1>

                <section class="container w-50">
                    {{ form_start(requestForm) }}
                        {{ form_row(requestForm.email) }}
                        <div>
                            <small>
                                Entrer votre adresse email et nous vous enverrons un
                                lien pour réinitialiser votre mot de passe.
                            </small>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-secondary">Envoyer l'email de réinitialisation</button>
                        </div>
                    {{ form_end(requestForm) }}
                </section>
            </div>
        </div>
    </section>
{% endblock %}
