.container-secondary 
{
    background-color: rgba(255, 255, 255, .4);
}
.menu-actif
{
    color: #fff;
}
.collapsed
{
    color: #000;
}

#accordionTheme
{
    width: 95%;
}

.userIntro, .questionLabel, .anecdote
{
    color: #000;
}

.imgIntro
{
    height: 398px;
    width: 862px;
    border: #000 4px solid;
    border-radius: 10px;
}

.proposals-container
{
    justify-content: space-around;
}

#answerArea
{
    width: 300px;
    height: 200px;
    border: 2px dashed #000;
    border-radius: 15px;
    background-color: #ffffff80;
}