{% extends 'base.html.twig' %}

{% block title %}Questions
{% endblock %}

{% block body %}
{% set user = app.user %}
	{# Modal de non réponse #}
	<div class="modal" id="modalError">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Erreur</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<p>Veuillez glisser une proposition dans la zone de réponse.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>


	<div class="d-flex">
		<div class="container container-secondary p-3 rounded-3 mt-3 d-flex flex-column justify-content-center align-items-center w-75 text-center">
            {% set user = app.user %}
			<h2>{{ theme.name }} - Niveau {{ difficulty }}</h2><br>
			<div id="quizzContent" class="d-flex flex-column justify-content-center align-items-center">
			</div>
		</div>
	</div>
{# SCRIPT #}
<script src="{{ asset('assets/js/quizz/script.js') }}" defer></script>
{% endblock %}